[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "src/third_party/spdlog"]
	path = src/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
